[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/
MemoryCaptures/
Assets/AssetStoreTools*
.vs/
*.csproj
*.sln
*.user
*.userprefs
*.pidb
*.opendb
*.VC.db
.DS_Store
Thumbs.db
.gradle/
*.apk
*.aab
*.keystore
*.ipa
DerivedData/
xcuserdata/
Assets/AddressableAssetsData/*/*.bin*
Assets/StreamingAssets/aa/*
Assets/ShaderCache/
.collab/
.PlasticSCM/
*.unitypackage
